<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <ul>
      
      <% if logged_in? %>
      <li><%=current_user.username%></li>
      <li><a href="<%=new_sub_url%>">Create a sub!</a></li>
      <li><a href="<%=subs_url%>">All subs!</a></li>
      <form action="<%=session_url%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Logout</button>
      </form>
      <% end %>

    </ul>

    <%= yield %>
  </body>
</html>
