<h1><%=@sub.title%></h1>
<h3>Description</h3>
<p><%=@sub.description%></p>
<a href="<%=new_post_url%>">Make New Post!</a>
    <ul>
        <% @sub.posts.each do |post| %>
            <li>
                <%= post.title %>
                
            </li>
        <% end %>
    </ul>

<a href="<%=edit_sub_url(@sub.id)%>">Edit</a>